.content-one {
    display: flex;
    flex-direction: column;
    color: #37833a;   

}

.content-one h2 {
    font-size: 3rem;
    margin-left: 5rem;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: space-evenly;
}

.benefits p {
    font-size: 1.5rem;
    margin: 2rem;
}

.benefit-two h3, .benefit-four h3 {
    margin-top: 15rem;
}

.benefit-one, .benefit-two, .benefit-three, .benefit-four, .benefit-five{
    text-align: center;
    width: 15rem;
}

@media (max-width: 1600px) {
    .benefit-two h3, .benefit-four h3 {
        margin-top: 0rem;
    }
}

.content-two {
    display: flex;
    flex-direction: column;
    color: #37833a;
    justify-content: center;
    text-align: center;
}

.content-two h2 {
    font-size: 2.3rem;
    text-align: left;
    align-self: flex-start;
    margin: 0 0 5rem 5rem;
}

.content-two img {
    width: auto;
    height: 30rem;
}

.content-two a {
    background-color: #37833a;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 1em;
}

.content-two a:hover {
    background-color: #2e6b2f;
}

.content-two p {
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

